#menubar {
  background: olive;
  display : inline-block;
}

#menubar ul {
  margin: 0;
  padding: 0;
}

#menubar ul li {
  list-style-type : none;
  padding: 0px 15px;
}

#menubar ul li a {
  color: white;
  text-decoration: none;
}

#menubar ul li a:hover {
  color: violet;
}
